@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);

* {
    margin: 0;
}

body {
    font-family: 'Raleway', Helvetica, sans-serif;
    color: #444
}

a {
    text-decoration: none;
    color: #fff
}

.button {
    border: none;
    border-radius: 90px;
    color: #fff;
    transition: background-color .2s ease-in-out;

}

.button:hover {
    cursor: pointer;
}

.menu-button {
    padding: 1vw;
    width: 8vw;
    color: black
}

.big-button {
    padding: 2vw 0;
    width: 25vw;
    font-size: 1.8vw;
}

.blue-button {
    background-color: #2c9ecf;
}

.blue-button:hover {
    background-color: #4eaad1;
}

.grey-button {
    background-color: #444;
    color: #fff;
}

.white-title {
    font-size: 4vw;
}

.black-title {
    font-size: 3vw;
}

.under-title-text {
    font-size: 1.8vw;
    font-weight: lighter;
}

.under-title-text-light {
    color: #646464b6;
}

.banner-content h1,
.banner-content p {
    color: #fff;
}

.header {
    background-image: url(../assets/img/dark_tint.png), url(../assets/img/bokeh_car_lights_bg.jpg);
    background-position: center;
    background-size: cover;

}

.top-menu {
    display: flex;
    justify-content: space-between;
    padding: 3vw;
}



.nav {
    display: flex;
    list-style: none;
    align-items: center
}

.nav li {
    margin-right: 3vw;
}

.nav ul li a {
    color: rgba(225, 225, 225, 0.5);
    transition: color .2s ease-in-out;
}

.nav ul li a:hover {
    cursor: pointer;
    color: #fff;
}

.banner-content {
    height: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    line-height: 8vw;
}


.banner-content button {
    margin-bottom: 6vw;
}

.services {
    background-color: #F3EFEF;
    padding: 5vw 7vw;
}

.title-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5vw;
    margin-bottom: 3vw;

}

.services-boxs {
    display: flex;
    justify-content: space-around;

}

.box {
    width: 25vw;
    height: 26vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.box h3,
.box p {
    text-align: center;
}

.icon {
    font-size: 3vw;
    border-radius: 100px;
    color: #fff;
    border-radius: 100px;
    margin-bottom: 2vw;
}

.icon:before {
    font-family: FontAwesome;
    font-style: normal;
}

.icon-blue {
    background-color: #2c9ecf;
    border: 3vw solid #2c9ecf;
}

.icon-green {
    background-color: #9ecf2c;
    border: 3vw solid #9ecf2c;
}

.icon-pink {
    background-color: #CC284C;
    border: 3vw solid #CC284C;
}

.box h3 {
    margin-bottom: 2vw;
}

.box p {
    width: 21vw;
    /* height: 10vw; */
    line-height: 2vw;
    color: #646464b6;
}


.about {
    padding: 5vw;
}

.about-header {
    border-bottom: 0.1vw solid #a4a4a4b6;
    padding-bottom: 3vw;
}

.about-content {
    display: flex;
    border-bottom: 0.1vw solid #a4a4a4b6;
    padding-bottom: 3vw;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
}

.profile img {
    border-radius: 100px;
    margin-right: 2.5vw;
}

.profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw 4vw 0 4vw;
}

.footer-text {
    text-align: center;
    width: 62vw;
    line-height: 2vw;
    color: #919090;
}

.about-footer button {
    margin-top: 4vw;
}

.contact {
    background-color: #2c9ecf;
    padding: 5vw
}

.contact .title-texts h1,
.contact .title-texts p {
    color: #fff;
}

.contact .title-texts p {
    font-size: 1.5vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
textarea {
    border: none;
    border-radius: 5px;
}

input {
    width: 26vw;
    height: 1.5vw;
    padding: 1vw;
}

input::placeholder,
textarea::placeholder {
    color: #a5a2a2;
}

textarea {
    width: 56vw;
    resize: none
}

.form-inputs,
textarea {
    margin-bottom: 2vw;
}

.footer {
    background-color: #383B43;
    padding: 6vw 2vw
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.footer ul li {
    color: #757575;
    margin-right: 1vw;
}

.footer ul li a {
    color: #757575;
}